<div class="sets-list">
  @for (set of sets; track set) {
    <div class="set-card" (click)="onSetClick(set)">
      <div class="set-content">
        <div class="set-text">
          <h3>{{ set.name }}</h3>
          <div class="set-info">
            <div class="progress-container">
              <div class="count-row">
                <span class="card-count">{{ set.ownedCards }} / {{ set.totalCards }} cartas</span>
                <span class="percentage">{{ getProgressPercentage(set) | number: '1.0-0' }}%</span>
              </div>
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="getProgressPercentage(set)"></div>
              </div>
            </div>
          </div>
        </div>
        @if (showCardMarket) {
          <a
            [href]="set.cardmarketUrl"
            target="_blank"
            class="cardmarket-link"
            matTooltip="Ver en cardmarket"
            (click)="$event.stopPropagation()"
            >
            <mat-icon>style</mat-icon>
          </a>
        }
      </div>
    </div>
  }
</div>
