<div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange()"
      [placeholder]="placeholder"
      />
    <mat-icon matPrefix>search</mat-icon>
    @if (searchText) {
      <button
        mat-icon-button
        matSuffix
        (click)="clearSearch()"
        aria-label="Limpiar búsqueda"
        >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  @if (showFilters) {
    <div class="filters-row">
      <div class="filter-options">
        <mat-radio-group [(ngModel)]="selectedFilter" (change)="onFilterChange()">
          @for (option of filterOptions; track option) {
            <mat-radio-button [value]="option.value">
              {{ option.label }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
      @if (showVariantFilters && selectedFilter !== 'all') {
        <div
          class="filter-options variant-filters"
          >
          <mat-checkbox [(ngModel)]="filterFoil" (change)="onVariantFilterChange()">
            Foil
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="filterNonfoil" (change)="onVariantFilterChange()">
            No Foil
          </mat-checkbox>
        </div>
      }
    </div>
  }

  @if (showFilters) {
    <div class="results-count">
      <span>Mostrando {{ filteredCount }} de {{ totalCount }} resultados</span>
    </div>
  }
</div>
